{% extends 'base.html' %}
{% block content %}
<section class="hero text-white d-flex align-items-center text-center">
<div class="container">
<h1 class="display-4 fw-bold">Connecting People to Jesus Christ</h1>
<p class="lead">A static Django site inspired by Cru.org.</p>
</div>
</section>
<div class="container py-5">
<h2>Latest Articles</h2>
<div class="row">
{% for article in articles %}
<div class="col-md-4 mb-3">
<div class="card h-100"><div class="card-body">
<h5>{{ article.title }}</h5>
<p>{{ article.excerpt }}</p>
<a href="/articles/{{ article.slug }}/" class="btn btn-outline-primary">Read More</a>
</div></div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
